@page
@model ToDoApp.Pages.AccessDeniedModel
@{
	ViewData["Title"] = "Zugriff verweigert";
}
<h1>Zugriff verweigert</h1>
<p class="lead">Du hast keine Berechtigung, auf diese Seite zuzugreifen.</p>
<a class="btn btn-primary" asp-page="/Todos/Index">Zurück zur Übersicht</a>